*{
    margin: 0;
    padding: 0;
}
body{
    height:auto;
    /* background: rgb(224, 224, 224); */
    background-color: #E5E5E5;
    display: flex;
    flex-wrap: wrap;
}
.content1,.content2,.content3{
    display: flex;
    padding:10px 10px 10px 10px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    text-align:center;
    font-family:fantasy;
    border-radius: 5%;
}
.content3 img{
    width:30px;
    height:30px;
    margin-top: 5px;
    margin-left: -5px;
    margin-right: 5px;
}
.a,.b{
    margin: 50px;
    width: 400px;
    height: 280px;
    line-height:100px;
    border-radius: 5%;
    font-family:sans-serif;
    background: #ffffff;
    box-shadow: 10px 10px 10px 10px grey;
}
.b{
    margin-left: 0px;
}
.c{
    display: flex;
    
}
.c p{
    /* font-family:sans-serif; */
    font-family: "Cursive";
}
.content3{
    height:260px;
    margin-top: 440px;
    margin-left: 10px;
    background-color: #ffffff;
    justify-content:space-between;
    font-size: 28px;
    box-shadow: 7px 7px 7px 7px grey;
}
#temp1,#humi1,#ligh1,#soli1{
    height:250px;
    margin-bottom: -85px;
}
.a p{
    height: 25px;
}
#color{
    font-size: 15px;
    font-family:"YouYuan";
    height:30px;
    line-height: 30px;
}
#temp2,#humi2,#ligh2,#soli2{
    margin-left: 10px;
}
#temp2{
    color: rgb(211, 73, 73);
}
#humi2{
    color:rgb(95, 95, 226);
}
#ligh2{
    color: rgb(241, 175, 94);
}
#soli2{
    color: rgb(57, 190, 40);
}